
  <div class="header">
    <h1>Viajando Por México</h1>
    <i>Hernán Guillermo Dulcey Morán</i><br> 
    <i>Karla Jacquelin Guzmán Sánchez</i>
  </div>
<div id="opciones">
  <!-- Coordenadas iniciales -->

  <div class="labels">
    <h3>Posición inicial: 
    <!--<label>Latitud: </label>-->
    <input type="number" [(ngModel)] = "latitud" placeholder="Latitud"/> , 
    <!--<label> Longitud: </label>-->
    <input type="number" [(ngModel)] = "longitud" placeholder="Longitud"/></h3>
  </div>

  <!-- Método a utilizar -->
  <div id="radios" class="radios">
    <label><input type="radio" [(ngModel)] = "algoritmo" value = "E">Búsqueda exhaustiva</label>
    <label><input type="radio" [(ngModel)] = "algoritmo" value = "V">Búsqueda voráz</label>
    <label><input type="radio" [(ngModel)] = "algoritmo" value = "A">Ambas</label>
  </div>

  <!-- ComboBox de Estados y Ciudades -->
  <h3>Selecciona una ciudad:</h3>
  <select id="selectEstados" (change)="cambiarEstado($event.target.value)">
      <option
        id="estado-{{ estado.nombre }}"
        *ngFor="let estado of estados"
        value="{{ estado.nombre }}">
        {{ estado.nombre }}
    </option>
  </select>

  <select (change)="cambiarCiudad($event.target.value)" id="selectCiudades">
    <option
        id="ciudad-{{ ciudad.nombre }}"
        *ngFor="let ciudad of ciudades"
        value="{{ ciudad.nombre }}">
        {{ ciudad.nombre }}
    </option>
  </select>

  <!-- Agregar Ciudades a la Lista -->
  <button (click)="agregarUbicacion()">
    Seleccionar
  </button>
<br/>
<br/>

  <!-- Calcular Ruta -->
  <button (click)="calcularMejorRuta()" [disabled]="ningunoSeleccionado()">
      Enviar
  </button>
  <br/>
</div>

  <!-- Tabla de Estados Seleccionados -->
  
  <div class="tabla" id="estadosSeleccionados" *ngIf="!itinerarioService.ningunoSeleccionado()">
      <h3>Destinos Seleccionados</h3>
      <table>
      <thead>
          <th>Estado</th>
          <th>Ciudad</th>
          <th>Latitud</th>
          <th>Longitud</th>
      </thead>
      <tbody>
          <tr *ngFor="let ubicacion of itinerarioService.ubicaciones">
          <td>{{ ubicacion.nombreEstado }}</td>
          <td>{{ ubicacion.nombreCiudad }}</td>
          <td>{{ ubicacion.latitud }}</td>
          <td>{{ ubicacion.longitud }}</td>
          </tr>
      </tbody>
      </table>
  </div>
<br/>

  <!-- Solución Voraz -->
  <div id="voraz" *ngIf="itinerarioService.mostrarVoraz()">
    <h3>Búsqueda voráz</h3>
    
    <table style="white-space: pre;">
        <tbody>
            <td>Ruta: {{ itinerarioService.solucionVoraz.ciudades }}</td>
            <td>Distancia: {{ itinerarioService.solucionVoraz.distancia | number }} km</td>
        </tbody>
      </table>
  </div>

  <!-- Solución Exhaustiva -->
  <div id="exhaustiva" *ngIf="itinerarioService.mostrarExhaustiva()">
      <h3>Búsqueda exhaustiva</h3>
      <div *ngFor="let item of itinerarioService.solucionesExh; let indice = index">      
      <table style="white-space: pre;">
          <tbody>
            <div>
              <th *ngIf="indice==0" id="mejorRuta"> 
                Mejor Ruta
              </th>
              <td> 
                Ruta {{indice + 1}}: {{ itinerarioService.solucionesExh[indice].ciudades }}
              </td>
              <td>Distancia: {{ itinerarioService.solucionesExh[indice].distancia | number }} km</td>
            </div>
        </tbody>
      </table>      
    </div>
  </div>