*{
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
}
i{
	font-size: 12px;
}
h1{
	-webkit-text-stroke: 0.3px black;
}
.header{
	padding: 5px;
}
#opciones{
	padding: 10px;
}
.header, #opciones{
	background-color: #2a7def;
	color: white;
	border-color: blue;
	border-radius: 5px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 15px;
	text-align: center;
}

label, #selectEstados{
	padding-right: 30px;
}

table{
    border: solid 1px gray;
    border-collapse: collapse;
    padding: 5px;
    border-radius: 20px;
    margin: 3px;
}

th{
	padding: 8px;
	background: #2a46ef;
    color: white;
}

td {    
	padding: 8px;     
	background: #fff;     
    color: black;    
}
